{% extends 'headbase.html' %}

{% block extra_head %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/mainPageStyle.css' %} "/>
  <script defer src="{% static 'js/Add.js' %} "></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Add Student Page</title>
{% endblock extra_head %}

{% block content %}

        <div class="head">Add Student Page</div>
        <div class="content">
            <br>
            <h1>Add Student:</h1>
            <div class="marginedited">
                <form action="" method="POST" id="form">
                    {% csrf_token %}
                    <fieldset>
                    <legend>Details For Each Student</legend>
                    <p> <strong>Student ID:</strong> <input type = "text" id = "ID" name = "ID" placeholder="Enter ID" /></p>
                    <p id="VID"></p><br> 
                    <p> <strong>First name:</strong> <input type = "text" id ="fname" name = "fname" placeholder="Enter First name"/></p>
                    <p id="VFN"></p><br>
                    <p> <strong>Last name:</strong> <input type = "text" id ="lname" name = "lname" placeholder="Enter Last name"/></p>  
                    <p id="VLN"></p><br>
                    <p> <strong>Phone Number:</strong> <input type = "text" id ="phone" name = "phone" placeholder="Enter Phone Number"/></p>
                    <p id="PHN"></p><br>
                    <p><i class="fa-solid fa-envelope"></i> <input type = "email" id ="email" name = "email" placeholder="Enter Email" /></p> 
                    <p id="VEML"></p><br>
                    <p>
                        <strong>Level:</strong>
                        <input type="radio" name ="Level" value="1" id="L">Level 1
                        <input type="radio" name ="Level" value="2" id="LL">Level 2
                        <input type="radio" name ="Level" value="3" id="LLL">Level 3
                        <input type="radio" name ="Level" value="4" id="LLLL">Level 4
                    </p><br>
                    <p> <strong>GPA:</strong>  <input type = "text" id = "GPA" name = "GPA" placeholder="Enter GPA"/></p>
                    <p id="VGPA"></p><br>
                    <p> <strong>Date of birth:</strong> <input type = "date" id = "date" name = "date"  /></p>
                    <p id="VDOB"></p><br>     
                    <p>
                        <strong>Gender:</strong>
                        <input type = "radio" name = "Gender" value = "Male"> Male    
                        <input type = "radio" name = "Gender" value = "Female"> Female
                    </p> <br>
                    <p id = "Departement">Departement:
                    <select name="Departement" required="false"> 
                        <option style="font-weight: bold;">Department</option> 
                        <option type="radio" value="CS">CS</option>
                        <option type="radio" value="AI">AI</option>
                        <option type="radio" value="IT">IT</option>
                        <option type="radio" value="DS">DS</option>
                        <option type="radio" value="IS">IS</option>
                    </select></p><br>
                    <p> 
                        <strong>Status:</strong>
                        <input type = "radio" name = "Status" value = "Active"> Active    
                        <input type = "radio" name = "Status" value = "InActive"> InActive
                    </p> <br>
                    <p><button class="slBtn" type="submit" id="btnAdd">Add</button></p>             
                </fieldset>
                </form>
            </div> 
        </div>
</body>
{% endblock content %}
</html>



{% comment %} <h1>add student page delete comment to make it work</h1> {% endcomment %}